@page "/categorybulbs/settings"

@using OLM.Blazor.WASM.Store.Manager.ItemNumberManager
@using OLM.Blazor.WASM.Store.Manager.ItemNumberManager.Actions
@using OLM.Shared.Models.CategoryBulbs.APIResponses.Manager
@using OLM.Blazor.WASM.Services.Repositories.Abstractions.CategoryBulbs.Manager

@attribute [Authorize]
@inherits FluxorComponent

@inject IState<CatBulbItemNumberManagerState> State
@inject IDispatcher Dispatcher
@inject ICategoryBulbsSettingsRepository TCOValueRepo
@inject IMatToaster Toaster

@if (State.Value.IsLoading == false)
{
    if (State.Value.Errors == default)
    {
        if (State.Value.Data != default)
        {
            if (State.Value.Data.Data != default)
            {
                <h1>Cikk kategóriák módosítása</h1>
                <MatButton Raised="true" TrailingIcon="@MatIconNames.Add" OnClick="UploadNewPrice">Új cikk kategória feltöltése</MatButton>

                <div class="d-flex align-items-center justify-content-between">
                    <MatTextField Label="Keresés" Outlined="true" FullWidth="true" Icon="@MatIconNames.Search" TValue="string" @bind-Value="State.Value.CategorySearchQuery" />
                    <MatButton Raised="true" Label="Keres" OnClick="() => Search()" Style="width:15%;height:50px;" />
                </div>

                <MatTable Items="State.Value.Data.Data"
                          PageSize="State.Value.PageSize"
                          Striped="true"
                          AllowSelection="false"
                          ShowPaging="false"
                          Class="text-center">

                    <MatTableHeader>
                        <th>Cikkszám</th>
                        <th>Kategória típus</th>
                        <th>Akciók</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>@context.Itemnumber</td>
                        <td>@context.CategoryType</td>
                        <td class="text-left">
                            <MatButton Raised="true" Label="" OnClick="@(() => EditPrice(context) )" Icon="@MatIconNames.Edit" />
                            <MatButton Raised="true" Label="" OnClick="@(()=> DeletePrice(context))" Icon="@MatIconNames.Delete" />
                        </td>
                    </MatTableRow>

                </MatTable>

                <MatPaginator Length="(int)State.Value.Data.TotalItemCount"
                              PageSize="State.Value.PageSize"
                              Page="PageChanged"
                              Label=""
                              PageLabel="" />
            }
            else
            {
                <DataFetchError ErrorMSG="Az adatbázisba nincs kategória feltöltve egy cikkhez sem" />
            }


        }
        else
        {
            <DataFetchError ErrorMSG="Nincsen feltöltve kategória az adatbázisba egy cikkhez sem" />
        }
    }
    else
    {
        <DataFetchError ErrorMSG="@State.Value.Errors.Errors.FirstOrDefault()?.ErrorMSG" />
    }
}
else
{
    <AlwaysSpinner />
}

@if (State.Value.SelectedModelForDelete != default)
{
    <MatDialog @bind-IsOpen="isDeleteDialogOpen">
        <MatDialogTitle>
            A @State.Value.SelectedModelForDelete.Itemnumber cikkhez a kategória törlése
        </MatDialogTitle>
        <MatDialogContent>
            A törlés végleges, már nem lesz lehetőséged visszavonni a 'Törlés' gomb megnyomása után
        </MatDialogContent>
        <MatDialogActions>
            <MatButton TrailingIcon="@MatIconNames.Cancel" OnClick="CancelDelete">Mégsem</MatButton>
            <MatButton TrailingIcon="@MatIconNames.Delete" OnClick="SubmitDelete">Törlés</MatButton>
        </MatDialogActions>
    </MatDialog>
}

@if (State.Value.ModelForEdit != default)
{
    <MatDialog @bind-IsOpen="isModifyDialogOpen">
        <MatDialogTitle>
            @($"{(State.Value.ModelForEdit.ID == default ? "Új cikk kategória feltöltése" : $"{State.Value.ModelForEdit.Itemnumber} cikkhez a kategória módosítása")}")
        </MatDialogTitle>
        <EditForm Model="State.Value.ModelForEdit" OnSubmit="() => Task.CompletedTask">
            <ServerSideValidator @ref="_serverSideValidator" />
            <MatDialogContent>
                <MatTextField Label="Cikkszám" @bind-Value="@State.Value.ModelForEdit.Itemnumber" TValue="string" />
                <ValidationMessage For="@(()=> State.Value.ModelForEdit.Itemnumber)" />
                <MatTextField Label="Kategória" @bind-Value="@State.Value.ModelForEdit.CategoryType" TValue="string" />
                <ValidationMessage For="@(()=> State.Value.ModelForEdit.CategoryType)" />
            </MatDialogContent>
            <MatDialogActions>
                <MatButton TrailingIcon="@MatIconNames.Cancel" OnClick="CancelModify">Mégsem</MatButton>
                <MatButton TrailingIcon="@($"{(State.Value.ModelForEdit.ID == default ? MatIconNames.Add : MatIconNames.Edit )}")"
                           OnClick="SubmitEdit">
                    @($"{(State.Value.ModelForEdit.ID == default ? "Feltöltés" : "Módosítás")}")
                </MatButton>
            </MatDialogActions>
        </EditForm>
    </MatDialog>
}

@code{

    private EditContext _editContext;
    private ServerSideValidator _serverSideValidator;
    private bool isDeleteDialogOpen = false;
    private bool isModifyDialogOpen = false;

    private void CancelDelete() => isDeleteDialogOpen = false;
    private void CancelModify()
    {
        isModifyDialogOpen = false;
        UpdateItems();
    }

    private void PageChanged(MatPaginatorPageEvent e)
    {
        Dispatcher.Dispatch(new PageIndexChangedAction(e.PageIndex));
        Dispatcher.Dispatch(new PageSizeChangedAction(e.PageSize));
        UpdateItems();
    }

    private void Search()
    {
        if (string.IsNullOrEmpty(State.Value.CategorySearchQuery) == false)
        {
            Dispatcher.Dispatch(new StartSearchCategoryItemNumberAction(State.Value.CategorySearchQuery, State.Value.PageIndex, State.Value.PageSize));
        }
        else
        {
            UpdateItems();
        }
    }

    private void UploadNewPrice()
    {
        Dispatcher.Dispatch(new EditCatBulbItemNumberModelAction(new CategoryBulbItemNumberSettingsViewModel()));

        isModifyDialogOpen = true;
    }

    private void EditPrice(CategoryBulbItemNumberSettingsViewModel model)
    {
        Dispatcher.Dispatch(new EditCatBulbItemNumberModelAction(model));

        isModifyDialogOpen = true;
    }

    private async Task SubmitEdit()
    {
        var isAddNewModel = State.Value.ModelForEdit.ID == default;

        if (isAddNewModel == true)
        {
            await UploadNewModel(State.Value.ModelForEdit);
        }
        else
        {
            await EditNewModel(State.Value.ModelForEdit);
        }
    }

    private async Task UploadNewModel(CategoryBulbItemNumberSettingsViewModel model)
    {
        var result = await TCOValueRepo.Upload(model);

        if (result.Success == true)
        {
            Toaster.Add($"Sikeresen feltöltötted az új '{model.Itemnumber}' cikkhez a kategóriát", MatToastType.Success, $"Sikeres feltöltés");
            isModifyDialogOpen = false;
            UpdateItems();
        }
        else
        {
            _serverSideValidator.DisplayErrors(result.Errors);
        }
    }

    private async Task EditNewModel(CategoryBulbItemNumberSettingsViewModel model)
    {
        var result = await TCOValueRepo.Modify(model.ID.GetValueOrDefault(), model);

        if (result.Success == true)
        {
            Toaster.Add($"Sikeresen módosítottad a {model.Itemnumber} cikkhez a kategóriát", MatToastType.Success, $"Sikeres módosítás");
            isModifyDialogOpen = false;
            UpdateItems();
        }
        else
        {
            _serverSideValidator.DisplayErrors(result.Errors);
        }
    }

    private void DeletePrice(CategoryBulbItemNumberSettingsViewModel model)
    {
        isDeleteDialogOpen = true;
        Dispatcher.Dispatch(new CatItemNumberModelForDeletingChangedAction(model));
    }

    private async Task SubmitDelete()
    {
        var result = await TCOValueRepo.Delete(State.Value.SelectedModelForDelete.ID.GetValueOrDefault());

        if (result.Success == true)
        {
            Toaster.Add($"Sikeresen törölted a {State.Value.SelectedModelForDelete.Itemnumber} cikkhez a kategóriát", MatToastType.Success, $"Sikeres törlés");
        }
        else
        {
            Toaster.Add($"A törlés nem sikerült, mert: {result.Message}", MatToastType.Danger, "Sikertelen törlés");
        }

        isDeleteDialogOpen = false;
        UpdateItems();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UpdateItems();
    }

    private void UpdateItems() => Dispatcher.Dispatch(new LoadCatBulbItemNumberAction(State.Value.PageIndex, State.Value.PageSize));
}
