@page "/routing/manager"

@using OLM.Blazor.WASM.Store.Manager.Routing.RoutingManager
@using OLM.Blazor.WASM.Store.Manager.Routing.RoutingManager.Actions
@using OLM.Shared.Models.Routing.SharedAPIModels.Response.DataModel
@using OLM.Blazor.WASM.Services.Repositories.Abstractions.Routing.Manager

@attribute [Authorize]
@inherits FluxorComponent

@inject IState<RoutingManagerPageState> State
@inject IDispatcher Dispatcher
@inject IRoutingManagerRepository RoutingManagerRepository
@inject IMatToaster Toaster

@if (State.Value.IsLoading == false)
{
    if (State.Value.Errors == default)
    {
        if (State.Value.Data != default)
        {
            if (State.Value.Data.Data != default)
            {
                <h1>Routingok módosítása</h1>
                <MatButton Raised="true" TrailingIcon="@MatIconNames.Add" OnClick="UploadNewPrice">Új routing feltöltése</MatButton>

                <MatTable Items="State.Value.Data.Data"
                          PageSize="State.Value.PageSize"
                          Striped="true"
                          AllowSelection="false"
                          ShowPaging="false"
                          Class="text-center">

                    <MatTableHeader>
                        <th>Dimenzió</th>
                        <th>Ciklus idő (perc/1000 Méter)</th>
                        <th>Akciók</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td style="width:25%;">@context.Dimension</td>
                        <td>@context.CycleQuantityPerMinute</td>
                        <td class="text-left">
                            <MatButton Raised="true" Label="" OnClick="@(() => EditPrice(context) )" Icon="@MatIconNames.Edit" />
                            <MatButton Raised="true" Label="" OnClick="@(()=> DeletePrice(context))" Icon="@MatIconNames.Delete" />
                        </td>
                    </MatTableRow>
                </MatTable>

                <MatPaginator Length="(int)State.Value.Data.TotalItemCount"
                              PageSize="State.Value.PageSize"
                              Page="PageChanged"
                              Label=""
                              PageLabel="" />
            }
            else
            {
                <DataFetchError ErrorMSG="Az adatbázisba nincs routing feltöltve" />
            }


        }
        else
        {
            <DataFetchError ErrorMSG="Nincsen feltöltve routing az adatbázisba" />
        }
    }
    else
    {
        <DataFetchError ErrorMSG="@State.Value.Errors.Errors.FirstOrDefault()?.ErrorMSG" />
    }
}
else
{
    <AlwaysSpinner />
}

@if (State.Value.SelectedModelForDelete != default)
{
    <MatDialog @bind-IsOpen="isDeleteDialogOpen">
        <MatDialogTitle>
            A '@State.Value.SelectedModelForDelete.Dimension' routing törlése
        </MatDialogTitle>
        <MatDialogContent>
            A törlés végleges, már nem lesz lehetőséged visszavonni a 'Törlés' gomb megnyomása után
        </MatDialogContent>
        <MatDialogActions>
            <MatButton TrailingIcon="@MatIconNames.Cancel" OnClick="CancelDelete">Mégsem</MatButton>
            <MatButton TrailingIcon="@MatIconNames.Delete" OnClick="SubmitDelete">Törlés</MatButton>
        </MatDialogActions>
    </MatDialog>
}

@if (State.Value.ModelForEdit != default)
{
    <MatDialog @bind-IsOpen="isModifyDialogOpen">
        <MatDialogTitle>
            @($"{(State.Value.ModelForEdit.ID == default ? "Új routing hozzáadása" : $"'{State.Value.ModelForEdit.Dimension}' routing módosítása")}")
        </MatDialogTitle>
        <EditForm Model="State.Value.ModelForEdit" OnSubmit="() => Task.CompletedTask">
            <ServerSideValidator @ref="_serverSideValidator" />
            <MatDialogContent>
                <MatTextField Label="Dimenzió" @bind-Value="@State.Value.ModelForEdit.Dimension" TValue="string" />
                <ValidationMessage For="@(()=> State.Value.ModelForEdit.Dimension)" />
                <MatNumericUpDownField Label="Ciklus idő (perc/1000 méter)" @bind-Value="@State.Value.ModelForEdit.CycleQuantityPerMinute" TValue="double" DecimalPlaces="4" />
                <ValidationMessage For="@(()=> State.Value.ModelForEdit.CycleQuantityPerMinute)" />
            </MatDialogContent>
            <MatDialogActions>
                <MatButton TrailingIcon="@MatIconNames.Cancel" OnClick="CancelModify">Mégsem</MatButton>
                <MatButton TrailingIcon="@($"{(State.Value.ModelForEdit.ID == default ? MatIconNames.Add : MatIconNames.Edit )}")"
                           OnClick="SubmitEdit">
                    @($"{(State.Value.ModelForEdit.ID == default ? "Feltöltés" : "Módosítás")}")
                </MatButton>
            </MatDialogActions>
        </EditForm>
    </MatDialog>
}

@code{

    private EditContext _editContext;
    private ServerSideValidator _serverSideValidator;
    private bool isDeleteDialogOpen = false;
    private bool isModifyDialogOpen = false;

    private void CancelDelete() => isDeleteDialogOpen = false;
    private void CancelModify()
    {
        isModifyDialogOpen = false;
        UpdateItems();
    }

    private void PageChanged(MatPaginatorPageEvent e)
    {
        Dispatcher.Dispatch(new RoutingManagerPageIndexChangedAction(e.PageIndex));
        Dispatcher.Dispatch(new RoutingManagerPageSizeChangedAction(e.PageSize));

        Dispatcher.Dispatch(new LoadRoutingManagersAction(State.Value.PageIndex, State.Value.PageSize));
    }

    private void UploadNewPrice()
    {
        Dispatcher.Dispatch(new ChangeRoutingManagerModelAction(new RoutingDataViewModel()));

        isModifyDialogOpen = true;
    }

    private void EditPrice(RoutingDataViewModel model)
    {
        Dispatcher.Dispatch(new ChangeRoutingManagerModelAction(model));

        isModifyDialogOpen = true;
    }

    private async Task SubmitEdit()
    {
        var isAddNewModel = State.Value.ModelForEdit.ID == default;

        if (isAddNewModel == true)
        {
            await UploadNewModel(State.Value.ModelForEdit);
        }
        else
        {
            await EditNewModel(State.Value.ModelForEdit);
        }
    }

    private async Task UploadNewModel(RoutingDataViewModel model)
    {
        var result = await RoutingManagerRepository.Upload(model);

        if (result.Success == true)
        {
            Toaster.Add($"Sikeresen feltöltötted a '{model.Dimension}' routingot", MatToastType.Success, $"Sikeres feltöltés");
            isModifyDialogOpen = false;
            UpdateItems();
        }
        else
        {
            _serverSideValidator.DisplayErrors(result.Errors);
        }
    }

    private async Task EditNewModel(RoutingDataViewModel model)
    {
        var result = await RoutingManagerRepository.Modify(model.ID.GetValueOrDefault(), model);

        if (result.Success == true)
        {
            Toaster.Add($"Sikeresen módosítottad a '{model.Dimension}' routingot", MatToastType.Success, $"Sikeres módosítás");
            isModifyDialogOpen = false;
            UpdateItems();
        }
        else
        {
            _serverSideValidator.DisplayErrors(result.Errors);
        }
    }

    private void DeletePrice(RoutingDataViewModel model)
    {
        isDeleteDialogOpen = true;
        Dispatcher.Dispatch(new RoutingManagerForDeletingSetAction(model));
    }

    private async Task SubmitDelete()
    {
        var result = await RoutingManagerRepository.Delete(State.Value.SelectedModelForDelete.ID.GetValueOrDefault());

        if (result.Success == true)
        {
            Toaster.Add($"Sikeresen törölted a '{State.Value.SelectedModelForDelete.Dimension}' routingot", MatToastType.Success, $"Sikeres törlés");
        }
        else
        {
            Toaster.Add($"A törlés nem sikerült, mert: {result.Message}", MatToastType.Danger, "Sikertelen törlés");
        }

        isDeleteDialogOpen = false;
        UpdateItems();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new LoadRoutingManagersAction(State.Value.PageIndex, State.Value.PageSize));
    }

    private void UpdateItems() => Dispatcher.Dispatch(new LoadRoutingManagersAction(State.Value.PageIndex, State.Value.PageSize));
}